<div class="container mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/admin/backup">Backup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/permissions">Permissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/delivery">Delivery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders">Orders</a>
    </li>
  </ul>

  <div>
    <form class="mt-4" id='add-product-form'>
      <label>Add new product</label>
      <input type="id" class="form-control" required placeholder="Name" name="name">
      <input type="number" step="0.01" class="form-control" required placeholder="Price" name="price">
      <input type="number" class="form-control" required placeholder="Quantity" name="quantity">
      <input type="id" class="form-control" required placeholder="Add to category" name="category">
      <textarea type="id" class="form-control" rows="5" required placeholder="Description" name="desc"></textarea>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Add products</button>
      </span>
    </form>

    <form class="mt-4" id='edit-product-form'>
      <label>Rename category</label>
      <input type="id" class="form-control" required placeholder="Old product ID" name="oldProduct">
      <input type="id" class="form-control" placeholder="New name" name="newName">
      <input type="number" step="0.01" class="form-control" placeholder="Set new price" name="newPrice">
      <input type="number" class="form-control" placeholder="Set quantity" name="newQuantity">
      <input type="id" class="form-control" placeholder="Set category" name="newCategory">
      <textarea type="id" class="form-control" rows="5" required placeholder="Set new description" name="newDesc"></textarea>
      <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Edit this product</button>
        </span>
    </form>

    <form class="mt-4" id='delete-product-form'>
      <label>Remove category</label><br>
      <input type="id" required placeholder="Product to delete" name="oldProduct">
      <button type="submit" class="btn btn-primary">DELETE PRODUCT</button>
    </form>

    <!-- <div class="text-center">
      <h3>You don't have permissions</h3>
      <p>Page only available for administration</p>
    </div> -->

  </div>
</div>
