<div class="container mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/admin/permissions">Permissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/delivery">Delivery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/backup">Backup</a>
    </li>
  </ul>

  <div>
    <form class="mt-4" id='add-product-form'>
      <p><b>Add new product</b></p>
      <input type="id" class="form-control my-3" required placeholder="Name" name="name">
      <input type="number" step="0.01" class="form-control my-3" required placeholder="Price" name="price">
      <input type="number" class="form-control my-3" required placeholder="Quantity" name="quantity">
      <input type="id" class="form-control my-3" required placeholder="Add to category" name="categoryID">
      <textarea type="id" class="form-control my-3" rows="5" required placeholder="Description" name="description"></textarea>
      <span id="add-prod-err" class='text-danger font-weight-bold'></span>
      <span id="add-prod-suc" class='text-success font-weight-bold'></span>
      <button type="submit" class="btn btn-primary btn-block" style="width:8rem;">Add products</button>
    </form>

    <hr class="my-4"></hr>

    <div class="text-center">
      <p><b>Remove Product</b></p>
      <span id="rm-prod-err" class='text-danger font-weight-bold'></span>
      <span id="rm-prod-suc" class='text-success font-weight-bold'></span>
      <center>
      <form class="form-inline justify-content-center" id='rm-product-form'>
        <input type="id" class="form-control" required placeholder="Product id to delete" name="ID">
        <button type="submit" class="ml-4 btn btn-danger">Delete Product</button>
      </form>
    </div>

    <!-- <div class="text-center">
      <h3>You don't have permissions</h3>
      <p>Page only available for administration</p>
    </div> -->

  </div>
</div>
