<div class="container mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Permissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/delivery">Delivery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/backup">Backup</a>
    </li>
  </ul>
  <!-- TODO add check permission -->
  <div>
    <form class="mt-4" id='permissions-form'>
      <div class="form-group">
        <p><b>Put user ID and select permissions</b></p>

        <div class="form-group">
            <input type="id" class="form-control my-3" required placeholder="User ID" name="id"></input>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
              <input type="radio" name="opt" checked value=0> User
            </label>
              <label class="btn btn-primary">
              <input type="radio" name="opt" value=1> Moderator
            </label>
              <label class="btn btn-primary">
              <input type="radio" name="opt" value=2> Admin
            </label>
          </div>
          <div class="mx-auto text-center mt-4">
            <button type="submit" style="width: 4rem" class="btn btn-primary ">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
    </form>
    </div>
  </div>
