<div class="container">
  <div class="jumbotron mt-4">
    <h2 class="display-4">Contact us!</h2>
    <hr class="my-4">
    <div class="row">
      <div class="col-sm">
        <h5><b>Customer Support</b></h5>
        <p><i class="fa fa-envelope"></i>  <b>Email:</b>   dummymail@aosstore.com</p>
        <p><i class="fa fa-phone"></i>  <b>Phone no.:</b>   000 000 000</p>
        <p><b>Working hours:</b></p>
        <p>monday - friday 8:00 - 17:00</p>
      </div>
      <div class="col-sm">
        <h5><b>Headquaters</b></h5>
        <p><i class="fa fa-location-arrow"></i>  <b>Address:</b></p>
        <div>
          <p>street 00, flat 0</p>
          <p>00-000 City</p>
          <p>Country</p>
        </div>
      </div>
    </div>
  </div>
</div>
