<div class="container">
  <div class="text-center">
    <h3 class="text-success">
      Order Success
      <i class="fa fa-check-circle"></i>
    </h3>
    <p>We are now working on fulfilling your order with id {{order.id}}</p>
    <p>You can check status on your account view</p>
    <a href="/account">Link to account</a>
  </div>
</div>
