<div class="container mt-4">
  <div class="card-deck">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Address</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Address</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Address</p>
      </div>
    </div>
  </div>
  <div class="mx-auto text-center mt-4">
    <button type="button" style="width: 4rem" class="btn btn-primary ">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
